
@{
    ViewBag.Title = "Found Ark Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

    <div class="col align-items-center">
        <div class="col-md-12 text-center text-white">
            <h1><strong>FOUND ARK</strong></h1>

            <!-- Synopsis of the Game -->
            <div>
                <div class="col p-0">
                    <div style="position: relative;">
                        <img src="https://images.ctfassets.net/umhrp0op95v1/68UgNxQyEXxoVmpVsnKTNY/a908306f19015002e82cb53de4c46d10/LA_SS_05_SM.jpg" alt="Big Fire Demon" width="100%" height="100%" />
                        <div style="position: absolute; top: 70%; left: 50%; transform: translate(-50%, -50%); z-index: 1; background-color: rgba(0, 0, 0, 0.5); padding: 20px;">
                            <p>
                                Found Ark is an epic adventure game that takes players on a thrilling journey to discover a long-lost ark filled with mysterious artifacts and treasures. Customise your appearance, and play as many fun classes.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Embedded Video of Game Trailer -->
            <div>
                <div class="col" style="padding-top: 20px;">
                    <iframe width="100%" height="500" src="https://www.youtube.com/embed/epjWBI4Mxjk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
            <!-- More Lore of the Game -->
            <div>
                <div class="col" style="padding-top: 20px;">
                    <div class="col p-0">
                        <div style="position: relative;">
                            <img src="http://images.ctfassets.net/umhrp0op95v1/1EcEQxZw4ARtXR86iUeZJn/7d8bfcc1ef60b6e5496a2c9a4a202248/hero-6.jpg" alt="Big Robot" width="100%" height="100%" />
                            <div style="position: absolute; top: 70%; left: 50%; transform: translate(-50%, -50%); z-index: 1; background-color: rgba(0, 0, 0, 0.5); padding: 20px;">
                                <p>
                                    A couple years ago they lost the artifacts known as the arks. Now they have found the arks and don't know what the purpose of the arks are, they have tried brute forcing the ark open but it would not open,
                                    they have tried throwing it into the depths of Mt. Ucegang but have not made any progress. It is now your job as the Found Arker to find out how to use the Ark to bring peaces and prosperity to the lands.
                                </p>
                                <a href="https://www.playlostark.com/en-us/game/story" class="btn btn-dark btn-bordered justify-content-center">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="col" style="padding-top: 20px;">
                    <div class="col p-0">

                        <div style="position: relative;">
                            <img src="http://images.ctfassets.net/umhrp0op95v1/6F8cPkeyWRDpc6oolrAXcJ/aa101f3b1e7d2f6074f322ced1c25817/About-class.jpg" alt="Big Robot" width="100%" height="100%" />
                            <div style="position: absolute; top: 70%; left: 50%; transform: translate(-50%, -50%); z-index: 1; background-color: rgba(0, 0, 0, 0.5); padding: 20px;">
                                <p>
                                    Found Ark offers the best MMOARPG experience you can find. With the help of thee Quadpod System and class specs you can play as anything you want, from a mighty warrior to a evil sorceress! You are only limited
                                    by your imagination. Now Journey forward into the unkown and slay the demons that have infested the lands of Bunnytae. Team up with heaps of friends along the way aswell. Chur!!!
                                </p>
                                <a href="https://www.playlostark.com/en-us/game/classes" class="btn btn-dark btn-bordered justify-content-center">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

