
@{
    ViewBag.Title = "Found Ark News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="container-fluid text-center text-white">
        <div class="row align-items-center">
            <div class="col-md-12">
                <h1><strong style="border-bottom: inset; border-color: #FFCD00;">News</strong></h1>
                <div class="row row-cols-4 justify-content-center text-center">
                    <div class="col">
                        <div class="card" style="background-color: rgba(0, 0, 0, 0.5);">
                            <img src="https://images.ctfassets.net/umhrp0op95v1/6i8ro8aCSTo3TTu36omXkr/50f19070387f69a4425d806e24d681fb/LA_Brelshaza_580x330.jpg"
                                 class="card-img-top"
                                 alt="Brelshaza Raid"
                                 height="100%"
                                 width=100%" />
                            <div class="card-body" style="height: 308px; padding-bottom: 50px;">
                                <h5 class="card-header"><strong style="border-bottom: double; border-color: rgba(255, 255, 255, 0.20)">Brelsheeshimo</strong></h5>
                                <p class="card-body">
                                    Join us during the launch of our first end game raid. Brelsheeshimo, a powerful sorceress from the depths of hell.
                                </p>
                                <div class="card-footer position-absolute bottom-0 start-50 translate-middle-x">
                                    <a href="https://www.playlostark.com/en-us/news/articles/end-of-2022-roadmap" class="btn btn-dark btn-bordered justify-content-center">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card" style="background-color: rgba(0, 0, 0, 0.5);">
                            <img src="https://images.ctfassets.net/umhrp0op95v1/7tSkp8XPAB74GLZoqU17rl/d610b23d1b8b01c5c9acf286743b0e00/LA_RespiteSkin_580x330.jpg"
                                 class="card-img-top"
                                 alt="Ark Pass Season 2"
                                 height="60%"
                                 width="100%" />
                            <div class="card-body" style="height: 308px; padding-bottom: 50px;">
                                <h5 class="card-header"><strong style="border-bottom: double; border-color: rgba(255, 255, 255, 0.20)">More Skins</strong></h5>
                                <p class="card-body">
                                    Join us as we make you spend more money on this F2P game that everyone loves to play and complain about.
                                </p>
                            </div>
                            <div class="card-footer position-absolute bottom-0 start-50 translate-middle-x">
                                <a href="https://www.playlostark.com/en-us/news/articles/arkpass-season2" class="btn btn-dark btn-bordered justify-content-center">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card" style="background-color: rgba(0, 0, 0, 0.5);">
                            <img src="https://images.ctfassets.net/umhrp0op95v1/7HaziXr5q69MVWYNdiF7si/cb6961e3df4f127ddbed501f41638a9b/LA_October_Content_Mystic_Dragon__2__580.jpeg"
                                 class="card-img-top"
                                 alt="Mystic Event Raid"
                                 height="60%"
                                 width=100%" />
                            <div class="card-body" style="height: 308px; padding-bottom: 50px;">
                                <h5 class="card-header"><strong style="border-bottom: double; border-color: rgba(255, 255, 255, 0.20)">Big As Dragon</strong></h5>
                                <p class="card-body">
                                    Join us as we force you to pair up with 7 other people to beat this big as dragon, you definitely won't get jailed or anything.
                                </p>
                                <div class="card-footer position-absolute bottom-0 start-50 translate-middle-x">
                                    <a href="https://www.playlostark.com/en-us/news/articles/mystic-event-raid" class="btn btn-dark btn-bordered justify-content-center">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row row-cols-4 justify-content-center text-center" style="padding-top: 10px">
                    <div class="col">
                        <div class="card" style="background-color: rgba(0, 0, 0, 0.5);">
                            <img src="https://images.ctfassets.net/umhrp0op95v1/y2CVOyTvIML9lUuQLsAZC/4fe1898b15bf4fa94d1d02345bfb5c72/LA_AugustMaharaka_TwitchDrop_580x330_CT-000964.jpg"
                                 class="card-img-top"
                                 alt="Sombrero Hat Drop"
                                 height="60%"
                                 width=100%" />
                            <div class="card-body" style="height: 308px; padding-bottom: 50px;">
                                <h5 class="card-header"><strong style="border-bottom: double; border-color: rgba(255, 255, 255, 0.20)">Gangsta Hat</strong></h5>
                                <p class="card-body" style="padding-bottom: 50px;">
                                    Watch select streamers to get this gangsta as hat that makes you look gangsta in those beach skins we made you buy.
                                </p>
                                <div class="card-footer position-absolute bottom-0 start-50 translate-middle-x">
                                    <a href="https://www.playlostark.com/en-us/news/articles/august-2022-twitch-and-prime-items" class="btn btn-dark btn-bordered justify-content-center">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card" style="background-color: rgba(0, 0, 0, 0.5);">
                            <img src="https://images.ctfassets.net/umhrp0op95v1/4X9zLKlixSGMiYipUpAaiw/af5e9fda49cdcaa6875f2d0fcab477c1/LA_Machinist_580x330.jpg"
                                 class="card-img-top"
                                 alt="ZDPS Ironman"
                                 height="60%"
                                 width=100%" />
                            <div class="card-body" style="height: 308px; padding-bottom: 50px;">
                                <h5 class="card-header"><strong style="border-bottom: double; border-color: rgba(255, 255, 255, 0.20)">ZDPS Ironman</strong></h5>
                                <p class="card-body">
                                    Have you always wanted to play as Ironman, while doing ZDPS... Well here is the class for you! Introducing Gun Robot Man
                                </p>
                                <div class="card-footer position-absolute bottom-0 start-50 translate-middle-x">
                                    <a href="https://www.playlostark.com/en-us/news/articles/august-september-2022-roadmap" class="btn btn-dark btn-bordered justify-content-center">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card" style="background-color: rgba(0, 0, 0, 0.5);">
                            <img src="https://images.ctfassets.net/umhrp0op95v1/3r4WvVZc2eOOV03RVzuElT/73e528c2d6db392ef059fba7264f61f2/vykas_05_580x330.jpg"
                                 class="card-img-top"
                                 alt="Vykas Coming Soon"
                                 height="60%"
                                 width=100%" />
                            <div class="card-body" style="height: 308px; padding-bottom: 50px;">
                                <h5 class="card-header"><strong style="border-bottom: double; border-color: rgba(255, 255, 255, 0.20)">More Delays</strong></h5>
                                <p class="card-body">
                                    Surely, you've all waited long enough. But we're gonna delay the launch of Vykas again because we can chur.
                                </p>
                                <div class="card-footer position-absolute bottom-0 start-50 translate-middle-x">
                                    <a href="https://www.playlostark.com/en-us/news/articles/june-and-july-2022-roadmap" class="btn btn-dark btn-bordered justify-content-center">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row row-cols-4 justify-content-center text-center" style="padding-top: 10px">
                    <div class="col">
                        <div class="card" style="background-color: rgba(0, 0, 0, 0.5);">
                            <img src="https://images.ctfassets.net/umhrp0op95v1/5puB3GC7vT63Tq7FSHu1kO/e8e42d38deeeec187fd58ed6df2041d8/LA_JunePupperHat_TwitchDrop_580x330.jpg"
                                 class="card-img-top"
                                 alt="Gangsta Dog Hat"
                                 height="100%"
                                 width=100%" />
                            <div class="card-body" style="height: 308px; padding-bottom: 50px;">
                                <h5 class="card-header"><strong style="border-bottom: double; border-color: rgba(255, 255, 255, 0.20)">Gangsta Dog Cat</strong></h5>
                                <p class="card-body">
                                    Do you want a cool dog hat thing to look gangsta in the MVP screens. Even if you said no, you're gonna get it anyway!
                                </p>
                                <div class="card-footer position-absolute bottom-0 start-50 translate-middle-x">
                                    <a href="https://www.playlostark.com/en-us/news/articles/vykas-creator-challenge" class="btn btn-dark btn-bordered justify-content-center">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="background-color: rgba(0, 0, 0, 0.5);">
                            <img src="https://images.ctfassets.net/umhrp0op95v1/5L2mrBU8bMtVBWRDZhXvff/7530349f4e473c8b30add18d3e049d40/ALL_LA_Items_PenguinSkin_PrimeGaming_580x330.jpg"
                                 class="card-img-top"
                                 alt="Creepy Penguins"
                                 height="100%"
                                 width=100%" />
                            <div class="card-body" style="height: 308px; padding-bottom: 50px;">
                                <h5 class="card-header"><strong style="border-bottom: double; border-color: rgba(255, 255, 255, 0.20)">Creepy Penguins</strong></h5>
                                <p class="card-body">
                                    Did you want to look into the souls of your friends, well here is the skin for you. Look like a traumatised soulless penguin today!
                                </p>
                                <div class="card-footer position-absolute bottom-0 start-50 translate-middle-x">
                                    <a href="https://www.playlostark.com/en-us/news/articles/july2022-primegaming-loot" class="btn btn-dark btn-bordered justify-content-center">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="background-color: rgba(0, 0, 0, 0.5);">
                            <img src="https://images.ctfassets.net/umhrp0op95v1/3Bd1vIjdTfpprcVHjLzG7S/6ec449616aba75e2a997d0b8896789f3/Bard_Comp_sm.png"
                                 class="card-img-top"
                                 alt="Green Smokey Eyed Horse and Red Smokey Eyed Chick"
                                 height="100%"
                                 width=100%" />
                            <div class="card-body" style="height: 308px; padding-bottom: 50px;">
                                <h5 class="card-header"><strong style="border-bottom: double; border-color: rgba(255, 255, 255, 0.20)">Mustang Sally</strong></h5>
                                <p class="card-body">
                                    Have you always wanted a black horse with spikes that has an omnionus green smoke eminating from its eyes and other orifices? Well here it is!
                                </p>
                                <div class="card-footer position-absolute bottom-0 start-50 translate-middle-x">
                                    <a href="https://www.playlostark.com/en-us/news/articles/march-2022-omen-collection" class="btn btn-dark btn-bordered justify-content-center">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
