
@{
    ViewBag.Title = "Found Ark";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>

    <!-- Found Ark -->
    <div class="row align-items-center">
        <div class="col-md-12 text-center text-white">
            <h1><strong>FOUND ARK</strong></h1>
            <div>
                <div class="col p-0">
                    <div style="position: relative;">
                        <img src="//images.ctfassets.net/umhrp0op95v1/5KXPFl9yfFUrobwJvPItzX/b9a790ec9b5060ec19447c7d1bde0cde/feb-release-hero3.jpg" alt="Alternate Text" width="100%" height="100%" />
                        <div style="position: absolute; top: 70%; left: 50%; transform: translate(-50%, -50%); z-index: 1; background-color: rgba(0, 0, 0, 0.5); padding: 20px;">
                            <p style="text-align: center;">Come with us as we celebrate the launch of our hit game Found Ark, which amassed 1,000,000 users (not bots) on day one!</p>
                            <a href="https://www.playlostark.com/en-us/game/releases/anniversary-celebration" class="btn btn-dark btn-bordered justify-content-center">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    &nbsp;
    <!-- News -->
    <div class="container-fluid text-center text-white">
        <div class="row align-items-center">
            <div class="col p-2">
                <div class="col-md-12">
                    <h1><strong>NEWS</strong></h1>
                    <div class="row row-cols-4 justify-content-center text-center">
                        <div class="col">
                            <div class="card" style="background-color: rgba(0, 0, 0, 0.5);">
                                <img src="https://images.ctfassets.net/umhrp0op95v1/6i8ro8aCSTo3TTu36omXkr/50f19070387f69a4425d806e24d681fb/LA_Brelshaza_580x330.jpg"
                                     class="card-img-top"
                                     alt="Brelshaza Raid"
                                     height="100%"
                                     width=100%" />
                                <div class="card-body" style="height: 308px; padding-bottom: 50px;">
                                    <h5 class="card-header"><strong style="border-bottom: double; border-color: rgba(255, 255, 255, 0.20)">Brelsheeshimo</strong></h5>
                                    <p class="card-body">
                                        Join us during the launch of our first end game raid. Brelsheeshimo, a powerful sorceress from the depths of hell.
                                    </p>
                                    <div class="card-footer position-absolute bottom-0 start-50 translate-middle-x">
                                        <a href="https://www.playlostark.com/en-us/news/articles/end-of-2022-roadmap" class="btn btn-dark btn-bordered justify-content-center">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card" style="background-color: rgba(0, 0, 0, 0.5);">
                                <img src="https://images.ctfassets.net/umhrp0op95v1/7tSkp8XPAB74GLZoqU17rl/d610b23d1b8b01c5c9acf286743b0e00/LA_RespiteSkin_580x330.jpg"
                                     class="card-img-top"
                                     alt="Ark Pass Season 2"
                                     height="60%"
                                     width="100%" />
                                <div class="card-body" style="height: 308px; padding-bottom: 50px;">
                                    <h5 class="card-header"><strong style="border-bottom: double; border-color: rgba(255, 255, 255, 0.20)">More Skins</strong></h5>
                                    <p class="card-body">
                                        Join us as we make you spend more money on this F2P game that everyone loves to play and complain about.
                                    </p>
                                </div>
                                <div class="card-footer position-absolute bottom-0 start-50 translate-middle-x">
                                    <a href="https://www.playlostark.com/en-us/news/articles/arkpass-season2" class="btn btn-dark btn-bordered justify-content-center">Read More</a>
                                </div>
                            </div>
                        </div>


                        <div class="col">
                            <div class="card" style="background-color: rgba(0, 0, 0, 0.5);">
                                <img src="https://images.ctfassets.net/umhrp0op95v1/7HaziXr5q69MVWYNdiF7si/cb6961e3df4f127ddbed501f41638a9b/LA_October_Content_Mystic_Dragon__2__580.jpeg"
                                     class="card-img-top"
                                     alt="Mystic Event Raid"
                                     height="60%"
                                     width=100%" />
                                <div class="card-body" style="height: 308px; padding-bottom: 50px;">
                                    <h5 class="card-header"><strong style="border-bottom: double; border-color: rgba(255, 255, 255, 0.20)">Big As Dragon</strong></h5>
                                    <p class="card-body">
                                        Join us as we force you to pair up with 7 other people to beat this big as dragon, you definitely won't get jailed or anything.
                                    </p>
                                    <div class="card-footer position-absolute bottom-0 start-50 translate-middle-x">
                                        <a href="https://www.playlostark.com/en-us/news/articles/mystic-event-raid" class="btn btn-dark btn-bordered justify-content-center">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    &nbsp;

                    <div class="row row-cols-4 justify-content-center text-center">
                        <div class="col">
                            <div class="card" style="background-color: rgba(0, 0, 0, 0.5);">
                                <img src="https://images.ctfassets.net/umhrp0op95v1/y2CVOyTvIML9lUuQLsAZC/4fe1898b15bf4fa94d1d02345bfb5c72/LA_AugustMaharaka_TwitchDrop_580x330_CT-000964.jpg"
                                     class="card-img-top"
                                     alt="Sombrero Hat Drop"
                                     height="60%"
                                     width=100%" />
                                <div class="card-body" style="height: 308px; padding-bottom: 50px;">
                                    <h5 class="card-header"><strong style="border-bottom: double; border-color: rgba(255, 255, 255, 0.20)">Gangsta Hat</strong></h5>
                                    <p class="card-body" style="padding-bottom: 50px;">
                                        Watch select streamers to get this gangsta as hat that makes you look gangsta in those beach skins we made you buy.
                                    </p>
                                    <div class="card-footer position-absolute bottom-0 start-50 translate-middle-x">
                                        <a href="https://www.playlostark.com/en-us/news/articles/august-2022-twitch-and-prime-items" class="btn btn-dark btn-bordered justify-content-center">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card" style="background-color: rgba(0, 0, 0, 0.5);">
                                <img src="https://images.ctfassets.net/umhrp0op95v1/4X9zLKlixSGMiYipUpAaiw/af5e9fda49cdcaa6875f2d0fcab477c1/LA_Machinist_580x330.jpg"
                                     class="card-img-top"
                                     alt="ZDPS Ironman"
                                     height="60%"
                                     width=100%" />
                                <div class="card-body" style="height: 308px; padding-bottom: 50px;">
                                    <h5 class="card-header"><strong style="border-bottom: double; border-color: rgba(255, 255, 255, 0.20)">ZDPS Ironman</strong></h5>
                                    <p class="card-body">
                                        Have you always wanted to play as Ironman, while doing ZDPS... Well here is the class for you! Introducing Gun Robot Man
                                    </p>
                                    <div class="card-footer position-absolute bottom-0 start-50 translate-middle-x">
                                        <a href="https://www.playlostark.com/en-us/news/articles/august-september-2022-roadmap" class="btn btn-dark btn-bordered justify-content-center">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card" style="background-color: rgba(0, 0, 0, 0.5);">
                                <img src="https://images.ctfassets.net/umhrp0op95v1/3r4WvVZc2eOOV03RVzuElT/73e528c2d6db392ef059fba7264f61f2/vykas_05_580x330.jpg"
                                     class="card-img-top"
                                     alt="Vykas Coming Soon"
                                     height="60%"
                                     width=100%" />
                                <div class="card-body" style="height: 308px; padding-bottom: 50px;">
                                    <h5 class="card-header"><strong style="border-bottom: double; border-color: rgba(255, 255, 255, 0.20)">More Delays</strong></h5>
                                    <p class="card-body">
                                        Surely, you've all waited long enough. But we're gonna delay the launch of Vykas again because we can chur.
                                    </p>
                                    <div class="card-footer position-absolute bottom-0 start-50 translate-middle-x">
                                        <a href="https://www.playlostark.com/en-us/news/articles/june-and-july-2022-roadmap" class="btn btn-dark btn-bordered justify-content-center">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        &nbsp;

                    </div>
                    @Html.ActionLink("More News", "News", "WardInfinity", null, new { @class = "btn btn-dark btn-bordered mt-2 justify-content-center" })
                </div>
            </div>
        </div>
    </div>

    <!-- About Found Ark -->
    <div class="container-fluid text-center text-white">
        <div class="row align-items-center">
            <div class="col-md-12" style="padding: 10px;">
                <h1><strong>ABOUT FOUND ARK</strong></h1>
                <div style="position: relative;">
                    <img src="https://images.ctfassets.net/umhrp0op95v1/Iu0y5x88hwpoIKNyLG8Td/0c7068a65fef6963cf0a721064d7a064/About-world3.jpg" alt="Trees and Things" width="100%" height="100%" />
                    <div style="position: absolute; top: 70%; left: 50%; transform: translate(-50%, -50%); z-index: 1; background-color: rgba(0, 0, 0, 0.5); padding: 20px;">
                        <p style="text-align: center;">Found Ark is an epic adventure game that takes players on a thrilling journey to discover a long-lost ark filled with mysterious artifacts and treasures. Customise your appearance, and play as many fun classes.</p>
                        <a href="https://www.playlostark.com/en-us/game/about" class="btn btn-dark btn-bordered justify-content-center">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Founders Packs -->
    <div class="container-fluid text-center text-white">
        <div class="row align-items-center">
            <div class="col-md-12" style="padding: 10px;">
                <h1><strong>FOUNDers Packs</strong></h1>
                <div style="position: relative;">
                    <img src="//images.ctfassets.net/umhrp0op95v1/77FJ5wm1MmckdJJsk02JTL/08683083bde639f63d5f3506938ff1d6/starter-pack13.jpg" alt="Trees and Things" width="100%" height="100%" />
                    <div style="position: absolute; top: 70%; left: 50%; transform: translate(-50%, -50%); z-index: 1; background-color: rgba(0, 0, 0, 0.5); padding: 20px;">
                        <p style="text-align: center;">Waste even more money on this game by supporting us with all your money. FOUNDers packs are as low as $1000!! What a Deal!</p>
                        @Html.ActionLink("BUY PACK", "BuyPack", "WardInfinity", new { area = "" }, new { @class = "btn btn-dark btn-bordered" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- In-Game Rewards -->
    <div class="container-fluid text-center text-white">
        <div class="row align-items-center">
            <div class="col p-2">
                <div class="col-md-12">
                    <h1><strong>Rewards For Watching Streams You Don't Like</strong></h1>
                    <div class="row row-cols-4 justify-content-center text-center mx-auto" style="background-image: url(http://images.ctfassets.net/umhrp0op95v1/15BOKJTjtsKie9yPwPUuxJ/d7e6188170730ec7842421ef5b2bbea8/1920-background2.jpg); padding: 10px;">
                        <div class="col">
                            <div class="card" style="background-color: rgba(0, 0, 0, 0.5); width: 300px;">
                                <img src="https://images.ctfassets.net/umhrp0op95v1/5y28Ksp13jx4V4arIBzpza/eb0312fff415a82d59dd7765621fb111/LA_TwitchDrop_AnniversaryDrop_740x416_CT-001423.jpg"
                                     class="card-img-top"
                                     alt="Twitch Drops"
                                     height="100%"
                                     width="100%" />
                                <div class="card-body" style="height: 308px; padding-bottom: 50px;">
                                    <h5 class="card-header"><strong style="border-bottom: double; border-color: rgba(255, 255, 255, 0.20)">Kick Drops</strong></h5>
                                    <p class="card-body">
                                        Kick drops give streamers inflated numbers so that the game can get more good. Tune in for good times!
                                    </p>
                                    <div class="card-footer position-absolute bottom-0 start-50 translate-middle-x">
                                        <a href="https://www.playlostark.com/en-us/twitch-drops" class="btn btn-dark btn-bordered justify-content-center">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="background-color: rgba(0, 0, 0, 0.5); width: 300px;">
                                <img src="https://images.ctfassets.net/umhrp0op95v1/2XbVQ2QIeRa9pCR0Rs3Cnv/49e985f6512256009de70c1bf6594de2/Slots-pg-ka.jpg"
                                     class="card-img-top"
                                     alt="Prime Gaming"
                                     height="60%"
                                     width="100%" />
                                <div class="card-body" style="height: 308px; padding-bottom: 50px;">
                                    <h5 class="card-header"><strong style="border-bottom: double; border-color: rgba(255, 255, 255, 0.20)">Prime Gaming</strong></h5>
                                    <p class="card-body">
                                        Give Amazon your money so you can get rewards that you probably don't even want. Has some games that you probably will never play aswell.
                                    </p>
                                </div>
                                <div class="card-footer position-absolute bottom-0 start-50 translate-middle-x">
                                    <a href="https://www.playlostark.com/en-us/forward-link?id=prime-gaming" class="btn btn-dark btn-bordered justify-content-center">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>





